<!DOCTYPE html>
<html>
  <head>
    <% include partial/header.ejs %>
  </head>
  <body>
    <% include partial/menu.ejs %>
	<% include partial/content.ejs %>
	<% include partial/locations.ejs %>
  </body>
</html>
