<!DOCTYPE html>
<html>
  <head>
    <% include partial/header.ejs %>
  </head>
  <body>
    <% include partial/menu.ejs %>
	<% include partial/content.ejs %>
	<div class="container">
        <div class="row">
             <div class="col-md-12">
              <img src="/img/main.jpg" class="img-responsive" alt="i-Love-My-City"/>
             </div>
      </div>
    </div>
  </body>
</html>
