<div class="container">
  <div class="row">
    <% for(var i=1;i<=imageCount;i++) {%>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="/img/<%=title%>/<%=title%>-<%=i%>.jpg"/>
      </div>
    </div>
    <%}%>
  </div>
</div>